= form_for @user, :class => 'form-inline', :html => { :multipart => true } do |f|
	= f.label :name
	= f.text_field :name, :autofocus => :true, :required => true, :class => 'form-control'

	= f.label :user_name
	= f.text_field :user_name, :autofocus => :true, :required => true, :class => 'form-control'

	= f.label :email
	= f.email_field :email, :autofocus => :true, :required => true, :class => 'form-control'

	= f.label :bio
	= f.text_field :bio, :autofocus => :true, :class => 'form-control'

	= f.label :facebook
	= f.url_field :social_facebook, :autofocus => :true, :class => 'form-control'

	= f.label :twitter
	= f.url_field :social_twitter, :autofocus => :true, :class => 'form-control'

	= f.label :instagram
	= f.url_field :social_instagram, :autofocus => :true, :class => 'form-control'

	= f.label :github
	= f.url_field :social_github, :autofocus => :true, :class => 'form-control'

	= label_tag :cover_photo
	= f.file_field :image, :autofocus => :true, :class => 'form-control', :multiple => true 
	/ params[:user][:image][0]

	= label_tag :Profile_picture
	= cl_image_upload_tag :cover_photo, :autofocus => :true, :class => 'form-control', :multiple => true 
	/ params[:file]
	
	= f.submit :class => 'btn btn-primary edit-page-button'
