<div class="container-fluid">
	<div class="row">
		<div class="col-md-3"><%= cl_image_tag(@current_user.image, :width => 200, :height => 200, :crop => :fill, :class => "img-thumbnail") %></div>
		<div class="cover_photo col-md-12 "><%= image_tag(@current_user.cover_photo) %></div>
	</div>
  <div class="page-header">
  <h1><%= @current_user.name %></h1>
  <small> <%= @current_user.user_name %></small>
</div>
</div>
<div class="row">
	<div class="col-sm-3"><!--left col-->   
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-diamond fa-1x"> Bio</i></div>
      <div class="panel-body"><%= @current_user.bio %></div>
    </div>
    <ul class="list-group">
      <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Reposts</strong></span> 37</li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
    </ul> 
    <div class="panel panel-default">
      <div class="panel-heading">Social Media</div>
      <div class="panel-body">
        <%= link_to(@current_user.social_facebook) do %>
      	<i class="social fa fa-facebook fa-2x"></i>
        <% end %>
      	<i class="social fa fa-instagram fa-2x"></i>
      	<i class="social fa fa-twitter fa-2x"></i> 
      	<i class="social fa fa-github fa-2x"></i> 
      </div>
   </div>
</div><!--/col-3-->

a 