<!DOCTYPE html>
<html>
<head>
  <title>Sound Storm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link type="text/css" href="/skin/pink.flag/jplayer.pink.flag.css" rel="stylesheet" />
  <script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
</head>

<body class="<%= params[:controller] %>">

	<%= render :partial => "layouts/nav" %>

<div class="container">
	<div class="container-fluid">

	  <%= yield %>
	   <footer>&copy; Black_Titan 2015 -- this isnt even the final form -- Bring on Lv 9000 -- ps. fuck you</footer>
  </div>
</div>
</body>
</html>
